html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  background: #F4F4F4;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: sans-serif;
}

.standard-input,
.standard-button {
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  background: white;
  min-height: 40px;
  min-width: 259px;
  margin: 10px;
  padding: 0 10px;
  border-radius: 0;
  border: 1px solid #1E76BE;
  vertical-align: middle;
}

.standard-button {
  height: 50px;
  color: #073590;
  font-weight: bold;
  border-color: #F1C933;
  background-color: #F1C933;
}

.standard-button:active {
  transform: scale(0.98);
}

.standard-button:enabled {
  cursor: pointer;
  transition: background-color 0.25s ease-in-out, transform 0.08s ease-in-out;
}

.standard-button:enabled:hover {
  border-color: #EBBD10;
  background-color: #EBBD10;
}
