.flight-picker {
  margin: 0 auto;
  padding: 20px;
  background-image: linear-gradient(to top, #1e8adf, #2994e6);
}

.flight-picker__row {
  text-align: center;
}

.shake {
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-name: shake-animation;
}

@keyframes shake-animation {
  0 {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(-6px) rotateY(-5deg);
  }
  37.5% {
    transform: translateX(5px) rotateY(4deg);
  }
  62.5% {
    transform: translateX(-3px) rotateY(-2deg);
  }
  87.5% {
    transform: translateX(2px) rotateY(1deg);
  }
  100% {
    transform: translateX(0);
  }
}
