.main-header {
  position: relative;
  padding: 15px;
  background: #073590;
  border-bottom: 2px solid #F1C933;
}

.main-header__logo {
  height: 32px;
}

.main-header__loading {
  position: absolute;
  top: 15px;
  right: 20px;
}
